/** Variables */
/* =========== */

/* Fuentes */
$primaryFont: "Montserrat", sans-serif;

/* Paleta de Colores */

$green:#4CB8B3;
$pink: #F53756;
$yellow: #fdda00;
$violet: #752F97;
$black: #000000;
$white: #FFFFFF;

/* Dispositovos */

$device480: 480px;
$device768: 768px;
$device1200: 1200px;
$device1400: 1400px;