@use 'base/variables' as v;
@use 'base/mixins' as m;

/* Header */

.header {
    background-color: v.$green;


    @include m.device768 {
        &.fixed {
        position: fixed;
        top: 0;
        left: 0;

        width: 100%;

        box-shadow: .1rem .2rem .3rem #333;
    }
    }

    &__contenido {
        @include m.device768 {
            padding: 2rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }

    &__titulo {
        color: v.$white;
        margin: 0;

        @include m.device768 {
            text-align: left;
        }
    }
}

.nav {

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 2rem;
    padding: 2rem;

    @include m.device768 {
        flex-direction: row;

    }


    &__enlace {
        color: v.$white;
        font-size: 2.4rem;

        &:hover,
        &.active {
            color: v.$yellow;
        }
    }
}